{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
	<div class="container">
		<div class="row">
			<div class="col">
			<div><a href='/about'>About</a></div>
				<h1>This is homepage</h1>
			</div>
			<div>
				<img src="/static/images/house.jpg" class="img-responsive" />
			</div>
		</div>
	</div>
{{end}}
